<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather monitor</title>
  </head>
  <body>
    <h1>Our weather station monitor</h1>
    <button onClick="window.location.reload();">Get data</button>
    <!-- TODO: Click on a tableRow and open a nice little graph using https://www.chartjs.org/  -->
    <table>
      <thead>
        <th scope="col">Location</th>
        <th scope="col">Temperature</th>
        <th scope="col">Precipitation</th>
        <th scope="col">Timestamp</th>
      </thead>
      <tbody>
        {% for weather_measurement in weather_data %}
        <tr>
          <td>{{weather_measurement['location']}}</td>
          <td>{{weather_measurement['temperature']}}</td>
          <td>{{weather_measurement['precipitation']}}</td>
          <td>{{weather_measurement['timestamp']|datetimeformat}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
    </script>
  </body>
</html>
